#container {
    width: 496px;
    height: 496px;
    background-color: aquamarine;

    padding: 5px;

    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-gap: 1px;
}

#container div {
    background-color: gray;
    /* width: 26px;
    height: 26px; */
    /* border: 2px solid black; */
    /* margin: 5px; */
}