body {
    width: 90vw;
    height: 90vh;
}

.container {
    /* width: 496px;
    height: 496px; */
    width: 90%;
    height: 90%;

    /* background-color: aquamarine; */
    border: 1px solid black;

    /* padding: 5px; */

    display: grid;
    /* grid-template-columns: repeat(10, 10%); */
    /* grid-gap: 1px; */
}

/* .container div { */
/* background-color: gray; */
/* width: 26px;
    height: 26px; */
/* border: 2px solid black; */
/* margin: 5px; */
/* } */

/* .square-hover {
    background-color: black;
} */